<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net451" />
  <package id="DocX" version="1.0.0.13" targetFramework="net451" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net451" />
  <package id="iTextSharp" version="5.5.6" targetFramework="net451" />
  <package id="itextsharp.xmlworker" version="5.5.6" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="OpenXmlPowerTools" version="3.1.09" targetFramework="net451" />
</packages>